# https://medium.com/faun/managing-mongodb-on-docker-with-docker-compose-26bf8a0bbae3
version: '3'
services:
  crawler:
    container_name: games_crawler
    build: /var/www/crawler
    restart: always
    ports:
      - "8666:8666"
    volumes:
      - '/var/www/crawlerData:/var/www/crawlerData'
  crawlerDb:
    image: 'mongo'
    container_name: 'games_crawler_db'
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=gamenews
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root123
    ports:
      - '27010:27017'
    command:
      - '--auth'
    volumes:
      - '/var/www/crawlerdb:/var/lib/mongodb'
      - '/var/www/crawlerdbLog/mongod.log:/var/log/mongodb/mongod.log'
      - './init-mongo.js:/docker-entrypoint-initdb.d/init-mongo-js:ro'
